
@{
    ViewData["Title"] = "Status";
}
 <div class = "Dataview">
        <button onclick = "Insertlijst()"   id = "Insertbutton"  >Maak lijst</button>
        <div id = "lijstdiv">

        </div>
    </div>
    <div class = "Inputuserinsert">
        <input id=" Insertbutton" onclick = "taskinput()" value="Maak taak" type = "button">
        <div id = "Inputuserinserttext">

        </div>
    </div>  
 <div id = "itemsdiv">
       
    @{
        
        foreach (var NaamLijst in ViewBag.items)
        {
            <p>Lijst naam @{@NaamLijst.NaamLijst}</p> <input id = "Update" value="Update list" type = "Button" onclick="updateshowlijst(@NaamLijst.IdLijst)" > <input id = "Delete" value="delete list" type = "Button" onclick="deletelijst(@NaamLijst.IdLijst)" >
            <div id ="@NaamLijst.IdLijst"></div>
            <p>---------------</p>
            foreach (var lijst in ViewBag.item)
            {
                if (NaamLijst.IdLijst == lijst.Lijst) {

                    <p id ="p1">Taak @{@lijst.Naam}</p>
                    <p id="p2">Beschrijving @{@lijst.Beschrijving}</p>
                    <p id="p3">Duur = @{@lijst.Duur}</p>
                    <p id=p4>Status @{@lijst.Status}</p>
                    <input id="updatebutton" value="Update" type = "button" onclick="updateshow(@lijst.Id)" >
                    <input id="Deletebutton" value="Delete" type = "button" onclick="startDelete(@lijst.Id)" >  
                    <p>-----------</p>
                    <div id="@lijst.Id">
                    
                    </div>
                    <br>
                }
            }
        }
    }
    </div>